h1{
    font-family:Castellar;
    color:palevioletred;
}
h2{
    font-family:Imprint MT Shadow;
    color:blue;
    font-size:xx-large;
}
.fir{
    background-color: white;
    border-radius: 2%;
}
.sec{
    height:600px;
    width:600px;
  background-color: white;
   margin-left: 30%;
   margin-right: 30%;
   border-radius: 10%;
   
}
body{
    font-family: 'Times New Roman';
}
.div{
    width:500px;
    height:600px;
    margin-left: 10%;
   margin-right: 10%;
    font-family: Monotype Corsiva;
    font-size: x-large;
    color:lightcoral;
}